
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/*
..................... 
header-start and nav start
.......................
*/
header{
    display: flex;
    justify-content: space-between;
    margin: 87px 120px 80px 120px;
    padding: 20px;
}
header h3{
    font-size: 24px;
    font-weight: 700;
}
.nav-menu ul{
    display: flex;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    margin-right: 34px;
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 500;
    /* color: blue; */
}
.nav-menu ul .fa-solid{
    margin-right: 34px;
}
